x-airflow-environment: &airflow-common-env
  AIRFLOW__CORE__EXECUTOR: LocalExecutor
  AIRFLOW__CORE__LOAD_DEFAULT_CONNECTIONS: "false"
  AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow

  # AWS & Redshift & Custom ENV
  AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
  AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
  S3_BUCKET_NAME: ${S3_BUCKET_NAME}
  REDSHIFT_HOST: ${REDSHIFT_HOST}
  REDSHIFT_PORT: ${REDSHIFT_PORT}
  REDSHIFT_DB: ${REDSHIFT_DB}
  REDSHIFT_USER: ${REDSHIFT_USER}
  REDSHIFT_PASSWORD: ${REDSHIFT_PASSWORD}

services:
  # PostgreSQL for Airflow metadata
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5

  # Airflow init
  airflow-init:
    build: ./airflow
    user: "1000:1000"   # ec2-user 권한
    entrypoint: >
      bash -c "
        echo 'Initializing Airflow Metadata DB...' &&
        airflow db init &&
        echo 'Airflow DB initialization completed.'
      "
    env_file:
      - /home/ec2-user/env/settingTest.env
    environment:
      <<: *airflow-common-env
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    depends_on:
      postgres:
        condition: service_healthy
    restart: "no"

  # Airflow Webserver
  airflow-webserver:
    build: ./airflow
    user: "1000:1000"   # ec2-user 권한
    command: ["airflow", "webserver"]
    ports:
      - "8080:8080"
    env_file:
      - /home/ec2-user/env/settingTest.env
    environment:
      <<: *airflow-common-env
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - ./dbt:/opt/airflow/dbt
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  # Airflow Scheduler
  airflow-scheduler:
    build: ./airflow
    user: "1000:1000"   # ec2-user 권한
    command: ["airflow", "scheduler"]
    env_file:
      - /home/ec2-user/env/settingTest.env
    environment:
      <<: *airflow-common-env
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - ./dbt:/opt/airflow/dbt
    depends_on:
      airflow-init:
        condition: service_completed_successfully

volumes:
  postgres-db-volume:
